# Ignore node_modules directory
node_modules/

# Ignore .env file
.env

# Ignore log files
*.log

# Ignore compiled files
*.class
*.jar
*.war

# Ignore temporary files
*.tmp
*.bak

todo.txt


# Ignore files  setup by composer
/vendor/
composer.phar

#Ignore globals.php in config directory
/config/

#ignorer fichier todo.txt
todo.txt


